In [3]:
import pandas as pd
states_lookup = pd.read_csv("C:\\Users\\madhu\\Documents\\git\\TEP\\data\\lookup_statecodes.txt", delimiter = "\t")
states_lookup.head()

  State_or_Region_Code                  Name
0                   AA  Armed Forces America
1                   AE          Armed Forces
2                   AP  Armed Forces Pacific
3                   AK                Alaska
4                   AL               Alabama

In [7]:
states_lookup.count()

State_or_Region_Code    57
Name                    57
dtype: int64

In [8]:
states_lookup[states_lookup["State_or_Region_Code"] == "NY"]

   State_or_Region_Code      Name
38                   NY  New York

In [13]:
max(states_lookup["State_or_Region_Code"].apply(len))

3

In [32]:
data_html = pd.read_html("C:\\Users\\madhu\\Documents\\git\\TEP\\data\\2000\\AK\\results.html")
rep = [df_line.iloc[5,2] for df_line in data_html if df_line.iloc[0,1] == "US REPRESENTATIVE"]
rep

ValueError: No tables found

In [51]:
ge = ['a/' + str(i) for i in range(1,2)]
int(str(ge[0]).split('/')[1])

1